body {

	background: #131313;
	font: 14px 'open sans';
}

a {

	color: #deff00;
	text-decoration: none;
}

article {

	border-bottom:1px dashed #505050;
	margin: 1em;
	padding: 1em;
	width: 60%;
}

article p , article ul {

	color: #eaeaea;
	font: 1em 'open sans';
	tab-size:0;
	text-align: justify;
	width: 120%;
}

article p:nth-child(1) {

	margin: 0 0 0.5em 0;
}

article div:nth-child(1) , article div:nth-child(2) {

	display: inline-block;
	vertical-align: top;
}

article div:nth-child(1) {

	margin: 0 2em 0 0;
	width: 25%;

}

article div:nth-child(2) {

	width: 60%;
}

h1 {

	font-size:1.5em;
}

h1 , h2 {

	color: #deff00;
	font-weight: lighter;
	margin: 0;
	text-align: right;
}

h2 {

		font-size:1.2em;
}

h3 {

	color: #eaeaea;
	font:italic 1em 'open sans' ;
	margin: 0;
	text-align: right;
}

ul {

	padding: 0;
}

li {

	list-style: none;
}

section {

	margin: -100px 0 0 0;
	padding: 1em 1em 1em 10em;
	transform:translateY(100px);
	transition:transform 1.5s ease;
}

.highlight {

	color: #505050;
	font-weight: lighter;

}

@media screen and (max-width: 350px) {

	h3 , h2{

		width: 200%;
	}
}

@media screen and (max-width: 500px) {

	article {

		margin: 0;
		padding: 0.5em 1em;
		width: 100%;
	}

	article p {

		width: 200%;
	}

	article:nth-child(2) ul {

		font-size: 1em !important;
		width: 200%;
	}

	article:nth-child(4) ul{

		width: 200%;
	}


	article div:nth-child(1) {

		margin: 1em 0;
	}

	article div:nth-child(2) {

		margin: 0;
	}

	article div:nth-child(1) , article div:nth-child(2) {

	display: block;
	padding: 0;

	}

	h1 , h2, h3 {

		text-align: left;
		width: 200%;
	}

	section {

		padding: 0.5em 0;
	}

}

@media screen and (max-width: 800px) {

	article {

		padding: 0;
		width: 88%;
	}

	article:nth-child(5){

		display: none;
	}

	article div:nth-child(1) {

		width: 45%;
	}

	article div:nth-child(2) {

		width: 55%;
	}

	article:nth-child(2) ul {

		font-size: 0.8em;
	}

	article:nth-child(1) , article:nth-child(2) {

		display: inline-block;
		vertical-align: top;
	}

	h3 {

		font-size: 0.85em;
	}

	section {

		padding: 0 1em;
	}

}

@media screen and (max-width: 1200px) {

	article {

		padding: 0;
		width: 85%;
	}

	article div:nth-child(1) {

		width: 30%;
	}
}