// < colores >
// < colores base >
white = #fff
grey = #a2a2a2
black = #141414
black_rgba = rgba(20, 20, 20, 0.75)
// < / colores base >

// < colores primarios >
green = #33b76e
green_rgba = rgba(51, 183, 110, 0.75)

twitter = rgba(85, 172, 238, 0.75)
gplus = rgba(221, 75, 57, 0.75)
instagram = rgba(63, 114, 155, 0.75)
github = rgba(23, 21, 21, 0.75)
linkedin = rgba(14, 118, 168, 0.75)

// < / colores primarios >
// < / colores >
